doctype html
html(lang=language)
	head
		title #{app.title}
		include parts/head

		block styles

	body
		include parts/ga

		.bg
		.bg-overlay

 	p some footer content

		block content

		block scripts
			script(src='/app/vendor.js')
			script(src='/app/app.js')
